{
  "openapi": "3.0.0",
  "info": {
    "title": "Leviathan Systems API",
    "version": "1.0.0",
    "description": "API for Leviathan Systems to manage the company's CRM, property management, and other services"
  },
  "servers": [
    {
      "url": "https://api.leviathan.systems"
    }
  ],
  "paths": {
    "/Office/crm/documents/byref/{ref_warehouse}": {
      "get": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Get documents by warehouse reference",
        "parameters": [
          {
            "in": "path",
            "name": "ref_warehouse",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Reference ID for the warehouse"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents by warehouse reference",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "created_by": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "document_no": {
                        "type": "string"
                      },
                      "source_warehouse_name": {
                        "type": "string"
                      },
                      "destination_warehouse_name": {
                        "type": "string"
                      },
                      "document_type_name": {
                        "type": "string"
                      },
                      "status_name": {
                        "type": "string"
                      },
                      "partner_reference": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/Office/crm/documents/types": {
      "get": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Get document types",
        "responses": {
          "200": {
            "description": "Document types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "document_name": {
                        "type": "string"
                      },
                      "require_balance": {
                        "type": "boolean"
                      },
                      "require_amount": {
                        "type": "boolean"
                      },
                      "allow_dst": {
                        "type": "boolean"
                      },
                      "allow_src": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/Office/crm/documents/type_accesses": {
      "get": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Get document type accesses",
        "responses": {
          "200": {
            "description": "Document type access data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "source_ware": {
                        "type": "integer"
                      },
                      "dst_ware": {
                        "type": "integer"
                      },
                      "document_type": {
                        "type": "integer"
                      },
                      "allow_create": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/Office/crm/documents": {
      "get": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Get all documents",
        "responses": {
          "200": {
            "description": "List of all documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "created_by": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "document_no": {
                        "type": "string"
                      },
                      "source_warehouse_name": {
                        "type": "string"
                      },
                      "destination_warehouse_name": {
                        "type": "string"
                      },
                      "document_type_name": {
                        "type": "string"
                      },
                      "status_name": {
                        "type": "string"
                      },
                      "partner_reference": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Create a new document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_type_id": {
                    "type": "integer"
                  },
                  "source_warehouse": {
                    "type": "integer"
                  },
                  "destination_warehouse": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully"
          },
          "400": {
            "description": "Missing required fields or invalid request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/Office/crm/documents/{id}": {
      "delete": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Delete a document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully"
          },
          "400": {
            "description": "Document has items, cannot delete"
          },
          "404": {
            "description": "Invalid ID"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "tags": [
          "CRMDocuments"
        ],
        "summary": "Update document status",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully"
          },
          "400": {
            "description": "Missing required fields"
          },
          "404": {
            "description": "Invalid ID"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/Office/Schedules/Cleaningschedule": {
      "get": {
        "tags": [
          "Cleaning Schedule"
        ],
        "summary": "Get cleaning schedule",
        "description": "Get cleaning schedule",
        "parameters": [
          {
            "in": "query",
            "name": "date_from",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "The end date in YYYY-MM-DD format."
          },
          {
            "in": "query",
            "name": "date_to",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "The end date in YYYY-MM-DD format."
          }
        ]
      }
    },
    "/update_job/{id}": {
      "put": {
        "summary": "Update a job",
        "tags": [
          "Cleaning Schedule"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Job ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cleaner_comment": {
                    "type": "string"
                  },
                  "job_timed": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated job"
          },
          "400": {
            "description": "Cannot update past jobs"
          },
          "404": {
            "description": "Invalid ID or job not found (error)"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/Webhook/NewReservation/{Connection_ID}": {
      "post": {
        "tags": [
          "Webhook",
          "NewReservation"
        ],
        "servers": [
          {
            "url": "https://webhook.api.leviathan.systems",
            "description": "Webhook server url"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connection ID of the Channel"
          },
          {
            "in": "query",
            "name": "remote_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The remote ID of the reservation"
          }
        ],
        "responses": {
          "200": {
            "description": "Eveything is OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {},
  "tags": []
}