{
  "openapi": "3.0.0",
  "info": {
    "title": "Leviathan Systems API",
    "version": "1.0.0",
    "description": "API for Leviathan Systems to manage the company's CRM, property management, and other services"
  },
  "servers": [
    {
      "url": "https://api.leviathan.systems"
    }
  ],
  "paths": {
    "/Office/Schedules/Cleaningschedule": {
      "get": {
        "tags": [
          "Cleaning Schedule"
        ],
        "summary": "Get cleaning schedule",
        "description": "Get cleaning schedule",
        "parameters": [
          {
            "in": "query",
            "name": "date_from",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "The end date in YYYY-MM-DD format."
          },
          {
            "in": "query",
            "name": "date_to",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "The end date in YYYY-MM-DD format."
          }
        ]
      }
    },
    "/update_job/{id}": {
      "put": {
        "summary": "Update a job",
        "tags": [
          "Cleaning Schedule"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Job ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cleaner_comment": {
                    "type": "string"
                  },
                  "job_timed": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated job"
          },
          "400": {
            "description": "Cannot update past jobs"
          },
          "404": {
            "description": "Invalid ID or job not found (error)"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/Webhook/NewReservation/{Connection_ID}?remote_id={remote_id}": {
      "post": {
        "tags": [
          "Webhook",
          "NewReservation"
        ],
        "servers": [
          {
            "url": "https://webhook.api.leviathan.systems",
            "description": "Webhook server url"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The connection ID of the Channel"
          },
          {
            "in": "query",
            "name": "remote_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The remote ID of the reservation"
          }
        ],
        "responses": {
          "200": {
            "description": "Everything is OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {},
  "tags": []
}